<manifest package="com.focusblack.wallos"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application
        android:allowBackup="true"
        android:label="focus-black"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.FocusBlack">
        <activity android:name="com.focusblack.wallos.ui.SettingsActivity" />
        <activity android:name="com.focusblack.wallos.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Widgets would be declared here in a full build -->
    </application>
</manifest>
